extends adminLayout

block prepend nav
  - selected = 'userlist'

block content
  form(method="post", action="/wikis/note/user/#{user.id}").span9.form-horizontal
    div.page-header
      h1= __('Edit user')

    div.control-group
      label(for="name").control-label= __('Name')
      div.controls
        input(type="text", name="name", id="name", value="#{user.name}", disabled).uneditable-input

    div.control-group
      label(for="id").control-label= __('Id')
      div.controls
        input(type="text", name="id", id="id", value="#{user.id}", disabled).uneditable-input

    div.control-group
      label(for="email").control-label= __('Email')
      div.controls
        input(type="text", name="email", id="email", value="#{user.email}", required)

    div.control-group
      label(for="timezone").control-label= __('Timezone')
      div.controls
        input(type="text", name="timezone", id="timezone", value="#{user.timezone}")

    div.control-group
      label(for="previousPassword").control-label= __('Current password')
      div.controls
        input(type="password", name="previousPassword", id="previousPassword")

    div.control-group
      label(for="newPassword").control-label= __('New password')
      div.controls
        input(type="password", name="newPassword", id="newPassword", placeholder="4자리 이상으로 입력해 주세요.")

    button(type="submit").btn.btn-primary: strong= __('Save')
