extends ../layout

block content
  div.row-fluid
      div.span5.writer
          form(method="post", action="/admin/mailconf", id="mailForm")
            fieldset

              h3 Mail configuration

              div.control-group
                label(name="from").control-label from
                input(name="from", id="from", class="required email", value=options.from, placeholder="yourname@mail.com").input-xlarge.title

              div.control-group
                label(name="password").control-label password
                input(name="password", id="password", type="password").input-xlarge.title

              div(id="auto-config-alert", style="display: none").alert.alert-success
                span(id="using-wellknown-service-message")
                span(id="detailed-toggle-message")
                a(href="#", id="detailed-toggle-link", data-toggle="collapse", data-target="#detailed")

              div(id="detailed").in
                div.control-group
                  label(name="host").control-label host
                  input(name="host", id="host", value=options.host, placeholder="smtp.mail.com").input-xlarge.title
                div.control-group
                  label(name="port").control-label port
                  input(name="port", id="port", value=options.port, placeholder="25, 587 or 465").input-xlarge.title
                div.control-group
                  label(name="username").control-label username
                  input(name="username", id="username", value=options.username, placeholder="yourname").input-xlarge.title
                div.control-group
                  label(name="ssl").control-label ssl
                  input(name="ssl", id="ssl", value=options.ssl, type="checkbox").input-xlarge.title
                div.control-group
                  label(name="tls").control-label tls
                  input(name="tls", id="tls", value=options.tls, type="checkbox").input-xlarge.title
                div.control-group
                  label(name="authMethod").control-label authentication method
                  input(name="authMethod", id="authMethod", value=options.authMethod, placeholder="LOGIN or PLAIN").input-xlarge.title

              div
                input(type="submit", name="submit", value="Save").btn-primary


  script(type="text/javascript", src="http://cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js")
  script(type="text/javascript", src="/bootstrap/js/bootstrap.js")

  script(type="text/javascript", src="/scripts/mail.js")
