extends adminLayout

block prepend nav
  selected = 'mailconf'

block content
  form(method="post", action="/admin/mailconf", id="mailForm").span9.form-horizontal
    div.page-header
      h1= __('Mail configuration')

    div.control-group
      label(name="from", for="from").control-label= __('From')
      div.controls
        input(type="text", name="from", id="from", value=options.from, required, placeholder="yourname@mail.com")

    div.control-group
      label(name="password").control-label= __('Password')
      div.controls
        input(type="password", name="password", id="password", required, placeholder=__('This will be stored as a plain text in the server.'))

    div(id="auto-config-alert", style="display: none").alert.alert-success
      span(id="using-wellknown-service-message")
      span(id="detailed-toggle-message")
      a(href="#", id="detailed-toggle-link", data-toggle="collapse", data-target="#detailed")

    div(id="detailed").collapse.in
      div.control-group
        label(name="host").control-label= __('Host')
        div.controls
          input(type="text", name="host", id="host", value=options.host, placeholder=__('smtp.mail.com'))
      div.control-group
        label(name="port").control-label= __('Port')
        div.controls
          input(type="text", name="port", id="port", value=options.port, placeholder=__('25, 587 or 465'))
      div.control-group
        label(name="username").control-label= __('Username')
        div.controls
          input(type="text", name="username", id="username", value=options.username, placeholder="yourname")
      div.control-group
        label(name="ssl").control-label= __('SSL')
        div.controls
          input(type="text", name="ssl", id="ssl", checked=options.ssl, type="checkbox")

      div.control-group
        label(name="tls").control-label= __('TLS')
        div.controls
          input(name="tls", id="tls", checked=options.tls, type="checkbox")

      div.control-group
        label(name="authMethod").control-label= __('Authentication method')
        div.controls
          input(type="text", name="authMethod", id="authMethod", value=options.authMethod, placeholder=__('LOGIN or PLAIN'))

    button(type="submit").btn.btn-primary= __('Save Changes')

block prepend script
  script(type="text/javascript", src="/scripts/jquery.js")
  script(type="text/javascript", src="/bootstrap/js/bootstrap.js")
  script(type="text/javascript", src="/scripts/sprintf.js")
  script(type="text/javascript", src="/scripts/i18n.js")
  script(type="text/javascript", src="/scripts/mail.js")
