extends adminLayout

block prepend nav
  selected = 'userlist'

block content
  div.span9.form-horizontal
    div.page-header
      h1= __('User list')
      p!= __('Total <strong>%s</strong>', Object.keys(userlist).length)
      a(href='/wikis/note/users/new').btn.btn-primary: strong= __('Add user')

    table.table
      thead
        tr
          th(scope="col"): input(type="checkbox").all
          th(scope="col")= __('Name')
          th(scope="col")= __('Email')
          th(scope="col")= __('Id')
          th(scope="col")= __('#Salted Password')
          th(scope="col") &nbsp;
      tbody
        each user in userlist
          tr
            td: input(type="checkbox")
            td= user.name
            td= user.email
            td: a(href='/wikis/note/user/#{user.id}')= user.id
            td: span.pw= user.password
            td 
              form(method="post", action="/wikis/note/dropuser").no-margin
                input(name='id', type='hidden', value=user.id)
                button(type="submit", name="submit").label.label-warning= __('Delete')

    div.ctrl: button(type="submit").btn.btn-danger: strong= __('Delete all') 
