extends ../layout

block content
    h1= title
    p= content

    p 이름: #{userInfo.name}
    p 이메일: #{userInfo.email}
    p 아이디: #{userInfo.id}
    p #salted Password: #{userInfo.password}

    a(href='/wikis/note/users') 목록보기