extends layout

block content
  hgroup.page-header
    form(method="post", action="/wikis/#{encodeURIComponent(wikiName)}/pages/#{encodeURIComponent(name)}").inline
      menu(style='float:right').btn-group
        a(href="/wikis/#{encodeURIComponent(wikiName)}/pages/#{encodeURIComponent(name)}").btn= __('View')
        a(href="/wikis/#{encodeURIComponent(wikiName)}/pages/#{encodeURIComponent(name)}?action=edit").btn= __('Edit')
        a(href="/wikis/#{encodeURIComponent(wikiName)}/pages/#{encodeURIComponent(name)}?action=history").btn= __('History')
        input(type="hidden", name="_method", id='_method', value="delete")
        input(type="submit", value=__('Delete'), name="submit").btn.btn-danger

    link(rel='stylesheet', href='/stylesheets/diff.css')

    h1= name

  div(class="diff")!= diff
