link(rel='stylesheet', href='/stylesheets/diff.css')

h1= name

div(class="diff")!= diff

ul
  li
    a(href="/wikis/#{wikiName}/pages/#{name}")= __('View')
  li
    a(href="/wikis/#{wikiName}/pages/#{name}?action=edit")= __('Edit')
  li
    a(href="/wikis/#{wikiName}/pages/#{name}?action=history")= __('History')
form(method="post", action="/wikis/#{wikiName}/pages/#{name}")
  input(type="hidden", name="_method", id='_method', value="delete")
  input(type="submit", value=__('Delete'), name="submit")
