if filelist == ''
    tr
        td(colspan='2', id='nofile') 첨부 파일이 없습니다.
each filename in filelist
    tr
        td.filelink: a(href='/attachment/#{pageName}/#{filename}') #{filename}
        td 
            form(method="post", action="/wikis/note/pages/#{pageName}/attachment/#{filename}")
                input(name='filename', type='hidden', id='filename', value='#{filename}')
                input(type="hidden", name="_method", id='_method', value="delete")
                input(type="button", class="insertInto", value="본문에 삽입").btn-warning
                input(type="submit", name="submit", value="삭제").btn-danger