h1= title
table
  tr
    td= "Author"
    td= "Date"
    td= "Message"
  - Object.keys(commits).forEach(function(id) {
  - var date = new Date(commits[id].author.unixtime * 1000)
    tr
      td= commits[id].author.name
      td= date
      td= commits[id].message
      td
        form(method="post", action="/wikis/note/rollback/"+title)
          input(type="hidden", value=title, name="name")
          input(type="hidden", value=id, name="id")
          input(type="submit", value="Rollback", name="submit")
  - });
ul
  li
    a(href="/wikis/note/pages/"+title) View
  li
    a(href="/wikis/note/edit/"+title) Edit
  li
    a(href="/wikis/note/history/"+title) History
form(method="post", action="/wikis/note/delete/"+title)
    input(type="submit", value="delete", name="submit")
