h1= title
table
  thead
    tr
      td= "Author"
      td= "Date"
      td= "Message"
  tbody(id="commits")
    - commits.forEach(function(commit, index) {
    - var date = new Date(commit.author.unixtime * 1000)
      tr
        td= commit.author.name
        td= date
        td= commit.message
        td
          a(href="#", class="rollback-button", name=title, id=commits.ids[index]) Rollback
    - });
ul
  li
    a(href="/wikis/note/pages/"+title) View
  li
    a(href="/wikis/note/edit/"+title) Edit
  li
    a(href="/wikis/note/history/"+title) History
form(method="post", action="/wikis/note/delete/"+title)
    input(type="submit", value="delete", name="submit")

script(type="text/javascript", src="/scripts/rollback.js")
