h1= title
table
  tr
    td= "Author"
    td= "Date"
    td= "Message"
  - commits.forEach(function(commit, index) {
  - var date = new Date(commit.author.unixtime * 1000)
    tr
      td= commit.author.name
      td= date
      td= commit.message
      td
        form(method="post", action="/wikis/note/rollback/"+title)
          input(type="hidden", value=title, name="name")
          input(type="hidden", value=commits.ids[index], name="id")
          input(type="submit", value="Rollback", name="submit")
  - });
ul
  li
    a(href="/wikis/note/pages/"+title) View
  li
    a(href="/wikis/note/edit/"+title) Edit
  li
    a(href="/wikis/note/history/"+title) History
form(method="post", action="/wikis/note/delete/"+title)
    input(type="submit", value="delete", name="submit")
