extends layout

block content
  urlToPage = joinPath('/wikis', encodeURIComponent(wikiName), 'pages', title)
  div.span9.form-horizontal
    div.page-header
      h1= __('History')
      form(method="post", action=urlToPage).inline
        menu.btn-group
          a(href="?").btn= __('Return To Page')

    form(method="get", action=urlToPage)
      table.table
        thead
          tr
            th(scope="col")= __('Page name')
            th(scope="col")= __('Author')
            th(scope="col")= __('Date')
            th(scope="col")= __('A')
            th(scope="col")= __('B')
            th(scope="col",colspan="3")= __('Message')
        tfoot
          tr
            th(scope="col",colspan="3")
            th(scope="col",colspan="2")
              input(type="submit", value=__('Diff')).btn.btn-info
            th(scope="col",colspan="3")
        tbody(id="history")
          first = history.ids[0]
          last = history.ids[history.length - 1]
          each entry, index in history
            commit = entry.commit;
            date = new Date(commit.author.unixtime * 1000)
            if history.ids[index] == first
              isFirst = true
            else
              isFirst = false
            if entry.name
              filename = entry.name
            else
              filename = ''
            tr
              td= filename
              td= commit.author.name
              td= date
              td
                input(type="radio", name="diffA", value=encodeURIComponent(filename) + ',' + history.ids[index], checked=isFirst)
              td
                input(type="radio", name="diffB", value=encodeURIComponent(filename) + ',' + history.ids[index], checked=isFirst)
              td= commit.message
              td
                if entry.name
                  urlToPage = joinPath('/wikis', encodeURIComponent(wikiName), 'pages', encodeURIComponent(entry.name))
                  a(href="#{urlToPage}?rev=#{history.ids[index]}", name=title).label.label-warning= __('Show')
              //- td
              //-   a(href="#", class="rollback-button", name=title, id=history.ids[index]).label= __('Rollback')
      div(style='float:right')
        input(type="hidden", value='diff', name="action")
      //- div(style='float:left').btn-group
      //-   a(href="#{urlToPage}?action=history&until=#{first}&offset=-#{limit}").btn= __('« Newer')
      //-   a(href="#{urlToPage}?action=history&until=#{last}&offset=1").btn= __('Older »')
    script(type="text/javascript", src="/scripts/jquery.js")
    script(type="text/javascript", src="/scripts/i18n.js")
    script(type="text/javascript", src="/scripts/rollback.js")
    script(type="text/javascript")
      rollback.init('#{wikiName}');
