extends layout

block content
    h1= title
    p= messages.welcome

    h2= messages.note
    a(href='/wikis/note/pages/frontpage')= messages.frontpage
    p
    a(href='/wikis/note/new')= messages.newNote
    p
    a(href='/wikis/note/pages')= messages.noteList
    p
    a(href='/wikis/note/pages?action=search')= messages.searchNotes
    p
    a(href='/wikis/note/pages/today/attachment') file attachment at page name 'today'
    p
    h2= messages.user
    p
    a(href='/wikis/note/users?action=login')= messages.login
    p
    a(href='/wikis/note/users')= messages.userList
    p
    a(href='/wikis/note/users/new')= messages.newUser
    p
    h2= messages.admin
    p
    a(href='/admin/mailconf')= messages.configureMail
    p
    a(href='/admin/mail')= messages.sendMail
    p
    span hello#{' '}
    a(href='aa') hoho
    span 
        | world
