extends layout

block content
  header
    div.page-header
      h1= title
  div.row-fluid
      div.span5.writer
        - if (flashMessage)
          div#flashMessage.alert.alert-error
            span= flashMessage
            button(type="button", class="close", data-dismiss="alert") x
          div.alert.alert-warn.hide#message
            span#messageText
            button(type="button", class="close", data-dismiss="alert") x
          form(method="post", id='newpost', action="/wikis/note/pages")
            fieldset
              div.control-group
                label(name="name").control-label title
                div.controls
                  input(id="title", name="name").input-xlarge.title
              div.control-group
                label(name="body").control-label body
                div.controls
                  textarea(id="body", name="body", rows="15").input-xlarge.textbody
              div
                input(type="submit", name='save', value="새 페이지 등록").btn.btn-primary
          div
            form(method="post", id='fileupload', enctype="multipart/form-data", multiple="multiple", action="/wikis/note/pages/#{pageName}/attachment.partial")
              label(for="attachment") 첨부할 파일을 선택해 주세요
              input(type='file', name='attachment', id='attachment')
              input(type="submit", name='attach', value="첨부").btn.btn-primary
          div.progress.progress-warning
            div#progressbar.bar
          div#alert.alert.alert-error.fade.out.hide
            h4.alert-heading 업로드할 파일을 선택해 주세요
          div
            table.table.table-bordered.table-condensed
                thead
                    tr
                        th(colspan=2) 첨부 파일
                tbody#filelist
                    if filelist == ''
                        tr
                            td(colspan=2) 첨부 파일이 없습니다.

      div(id="preview").previewer.span6
      div(id="result")

  script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js")
  script(type="text/javascript", src="http://malsup.github.com/jquery.form.js")
  script(type='text/javascript', src="http://documentcloud.github.com/underscore/underscore.js")
  script(src='/bootstrap/js/bootstrap.js')
  script(src="/socket.io/socket.io.js")
  script(type="text/javascript")
    // for using highlight.js both server and client
    var module = module || {}; //This prevents error on 'module.exports' statements
    // ToDo: Above code will be a problems in someday. Recommend to fix it!
  script(type="text/javascript", src="/scripts/highlight.js")
  script(type="text/javascript", src="/scripts/highlight-c.js")
  script(type="text/javascript", src="/scripts/showdown.js")
  script(type="text/javascript", src="/scripts/keynavi.js")
  script(type="text/javascript", src="/codemirror2/lib/codemirror.js")
  script(type="text/javascript", src="/codemirror2/mode/xml/xml.js")
  script(type="text/javascript", src="/codemirror2/mode/markdown/markdown.js")
  script(type="text/javascript", src="/scripts/preview.js")
  script(type="text/javascript", src="/scripts/sprintf.js")
  script(type="text/javascript", src="/scripts/i18n.js")
  script(type="text/javascript", src="/scripts/draft.js")
  script(type="text/javascript")
    var editor = CodeMirror.fromTextArea(document.getElementById("body"), {
      mode: 'markdown',
      lineNumbers: true,
      matchBrackets: true,
      theme: "default",
    });
    activateSubmitKey(function(handler) { editor.setOption('onKeyEvent', handler); });
    preview.init($(".CodeMirror"), function() { return editor.getValue(); });
    draft.init('n4wiki-new', '#newpost', ['#title', editor]);
    draft.onRestore(preview.update);
    $('#title').focus();
  script
    var pageId;
    var socket = io.connect();
    socket.on('connected', function(id){
      pageId = id;
    });
    socket.on('dupped', function(data){
      var user = {};
      if (data.user === "" || data.user === undefined ) {
        user.id = 'anomynous'
      } else {
        user = JSON.parse(data.user);
      }

      $('#title').popover({title:"Already existed page name!", content: "["+ user.id + "] user already working with this title. Try out another page name.", trigger: 'manual'});
      $('#title').popover('show');
    });

    socket.on('page name is ok', function(){
      $('#title').popover('hide');
    });

    $('#title').keyup(function(){
      debounce(function(){
        var title = $('#title').val();
        socket.emit('page name changed', {name: title, id: pageId, user: '!{JSON.stringify(user)}'});
      }, 500);
    });
  script(type="text/javascript", src="/scripts/timming.js")
  script(type="text/javascript")
    $(function(){
          //JQuery Extension code for insertAtCaret
          $.fn.extend({
            insertAtCaret: function(myValue){
              editor.replaceRange(myValue, editor.getCursor(), editor.getCursor());
            }
          });

          //Insert attachments into contents textarea
          var imageExtensions = ["jpg","png","gif"];
          $('.insertInto').live("click",function(){
              var filename = $(this).siblings('input').val();
              var filetype = filename.substring(filename.lastIndexOf('.') + 1);

              if ( _.include(imageExtensions, filetype) ){
                filename = '<img src="/attachment/#{pageName}/' + filename + '">'
              } else {
                filename = '/attachment/#{pageName}/' + filename
              }

              $('#body').insertAtCaret(filename);
              preview.update();
          });
      })
  script(type="text/javascript", src="/scripts/fileupload.js")