div.page-header
  h1= title

div.container
  div.span6
    form(method="post", action="/wikis/note/pages")
      fieldset
        div.control-group
          label(name="name").control-label title
          div.controls
            input(name="name").input-xlarge
        div.control-group
          label(name="body").control-label body
          div.controls
            textarea(id="body", name="body", rows="15").input-xlarge
        div
          input(type="submit", name="submit", value="새 페이지 등록").btn-primary

  div(id="preview")

div.container
  div.span4
      form(method="post", id='fileupload', enctype="multipart/form-data", multiple="multiple", action="/wikis/note/pages/#{pageName}/attachment.json")
          label(for="attachment") 첨부할 파일을 선택해 주세요
          input(type='file', name='attachment', id='attachment')
          input(type="submit", name="submit", value="첨부").btn-primary
  div.span4
    table.table.table-bordered.table-condensed
        thead
            tr
                th(colspan=2) 첨부 파일
        tbody
            if filelist == ''
                tr
                    td(colspan=2) 첨부 파일이 없습니다.
            each filename in filelist
                tr
                    td: a(href='/attachment/#{pageName}/#{filename}') #{filename}
                    td 
                        form(method="post", action="/wikis/note/pages/#{pageName}/attachment/#{filename}")
                            input(name='filename', type='hidden', id='filename', value='#{filename}')
                            input(type="hidden", name="_method", id='_method', value="delete")
                            input(type="submit", name="submit", value="삭제").btn-danger
    div#upload_file_list

div#alert.alert.alert-error.fade.out.span3
    h4.alert-heading 업로드할 파일을 선택해 주세요

script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js")
script(type="text/javascript", src="http://malsup.github.com/jquery.form.js")
script(src='/bootstrap/js/bootstrap.js')
script(type="text/javascript")
    $(document).ready(function() {
      $('#fileupload').ajaxForm(function(data){
          $('#upload_file_list').append('<p>'+data.filename+'</p>');
      });
    });
    $(function() {
        $('#fileupload').change(function(event){
            $('#alert').hide();
        });
        $('#fileupload').submit(function(event){
            $('#alert').removeClass('out');
            $('#alert').addClass('in');
            if ( $('#attachment').val() === "" ) {
                $('#alert').show();
                return false;
            }
            var filename = $('#attachment').val();
            var enctype = $('#_method').val();
            return false;
        });

    })

script(type="text/javascript")
  var module = {};
script(type="text/javascript", src="/scripts/highlight.js")
script(type="text/javascript", src="/scripts/highlight-c.js")
script(type="text/javascript", src="/scripts/showdown.js")
script(type="text/javascript", src="/scripts/preview.js")
