extends layout

block content
  div.io.write.row
    div.span6
      form(method="post", id='newpost', action="/wikis/#{wikiName}/pages")
        // io: input only | ip: input preview | po: preview only
        fieldset
          menu
            div.btn-group
              button(type="button").btn.btnWrite.active: strong= __('Editing')
              button(type="button").btn.btnPreview: strong= __('Preview')
            button(type="submit", name='save').btn.btn-primary: strong= __('Save')
          // ic: input container
          div.ic
            div.wTitle
              input(type="text", name="name", placeholder=__('Title here'), required="")#title
            div.wText
              textarea(name="body", placeholder=__('Fill this form'), rows="16", cols="32")#body
            section.md
              button(type='button').mdHelp= __('Markdown')
              div.mdSyntax
                h1 Syntax Cheatsheet
                dl
                  dt Headers
                  dd # Header 1
                    br
                    = '###### Header 6'
                  dt Lists
                  dd 1. Ordered item
                  dd * Unordered item
                  dt Phrase Emphasis
                  dd *italic* | **bold**
                  dt Links
                  dd [example](http://url.com/)
                  dt Code Spans
                  dd '''inline code''' 
                  dt Preformatted Code Blocks
                  dd 
                    i &nbsp;
                    i &nbsp;
                    i &nbsp;
                    i &nbsp;
                    = '4 spaces or 1 tab.'
                  dt Blockquotes
                  dd &gt; Quotation block
                  dt Images
                  dd ![alt text](/path/img.jpg)
                  dt Horizontal Rules
                  dd ---
                  dt Manual Line Breaks
                  dd End a line with two or more spaces.
                    i &nbsp;
                    i &nbsp;
                p.more
                  i
                  a(href="http://daringfireball.net/projects/markdown/syntax", target="_blank")= __('show more details')
                button(type='button', title=__('Close markdown help')).close &times;
                i.ar

            button(type="button").tog
              i
              = __('Preview')

      div.attach.ic
        form(method="post", id='fileupload', enctype="multipart/form-data", multiple="multiple", action="/wikis/#{wikiName}/pages/#{pageName}/attachment.partial")
          label(for="attachment") 첨부할 파일을 선택해 주세요
          input(type='file', name='attachment', id='attachment')
          input(type="submit", name='attach', value="첨부").btn.btn-primary
          progree(vlaue='20', max='100')
            strong 20
            = '%'
        div.progress.progress-warning
          div#progressbar.bar
        div#alert.alert.alert-error.fade.out.hide
          h4.alert-heading 업로드할 파일을 선택해 주세요
        div
          table.table.table-bordered.table-condensed
            thead
              tr
                th(colspan=2) 첨부 파일
            tbody#filelist
              if filelist == ''
                tr
                  td(colspan=2) 첨부 파일이 없습니다.

    div.span6
      fieldset.pc
        // pc: preview container
        article.tx#preview

block prepend script
  script(type="text/javascript", src="/scripts/jquery.js")
  script(type="text/javascript", src="/scripts/jquery.form.js")
  script(type='text/javascript', src="/scripts/underscore.js")
  script(src='/bootstrap/js/bootstrap.js')
  script(src="/socket.io/socket.io.js")
  script(type="text/javascript")
    // for using highlight.js both server and client
    var module = module || {}; //This prevents error on 'module.exports' statements
    // ToDo: Above code will be a problems in someday. Recommend to fix it!
  script(type="text/javascript", src="/scripts/highlight.js")
  script(type="text/javascript", src="/scripts/highlight-c.js")
  script(type="text/javascript", src="/scripts/showdown.js")
  script(type="text/javascript", src="/scripts/keynavi.js")
  script(type="text/javascript", src="/codemirror2/lib/codemirror.js")
  script(type="text/javascript", src="/codemirror2/mode/xml/xml.js")
  script(type="text/javascript", src="/codemirror2/mode/markdown/markdown.js")
  script(type="text/javascript", src="/scripts/preview.js")
  script(type="text/javascript", src="/scripts/sprintf.js")
  script(type="text/javascript", src="/scripts/i18n.js")
  script(type="text/javascript", src="/scripts/draft.js")
  script(type="text/javascript")
    var editor = CodeMirror.fromTextArea(document.getElementById("body"), {
      mode: 'markdown',
      lineNumbers: true,
      matchBrackets: true,
      theme: "default",
      lineWrapping: true
    });
    activateSubmitKey(function(handler) { editor.setOption('onKeyEvent', handler); });
    preview.init($(".CodeMirror"), function() { return editor.getValue(); });
    draft.init('n4wiki-new', '#newpost', ['#title', editor]);
    draft.onRestore(preview.update);
    $('#title').focus();
  script
    var pageId;
    var socket = io.connect();
    socket.on('connected', function(id){
      pageId = id;
    });
    socket.on('dupped', function(data){
      var user = {};
      if (data.user === "" || data.user === undefined ) {
        user.id = 'anomynous'
      } else {
        user = JSON.parse(data.user);
      }

      $('#title').popover({title:"Already existed page name!", content: "["+ user.id + "] user already working with this title. Try out another page name.", trigger: 'manual'});
      $('#title').popover('show');
    });

    socket.on('page name is ok', function(){
      $('#title').popover('hide');
    });

    $('#title').keyup(function(){
      debounce(function(){
        var title = $('#title').val();
        socket.emit('page name changed', {name: title, id: pageId, user: '!{JSON.stringify(user)}'});
      }, 500);
    });
  script(type="text/javascript", src="/scripts/timming.js")
  script(type="text/javascript")
    $(function(){
      //JQuery Extension code for insertAtCaret
      $.fn.extend({
        insertAtCaret: function(myValue){
          editor.replaceRange(myValue, editor.getCursor(), editor.getCursor());
        }
      });

      //Insert attachments into contents textarea
      var imageExtensions = ["jpg","png","gif"];
      $('.insertInto').live("click",function(){
        var filename = $(this).siblings('input').val();
        var filetype = filename.substring(filename.lastIndexOf('.') + 1);

        if ( _.include(imageExtensions, filetype) ){
          filename = '<img src="/attachment/#{pageName}/' + filename + '">';
        } else {
          filename = '/attachment/#{pageName}/' + filename;
        }

        $('#body').insertAtCaret(filename);
        preview.update();
      });
    })
  script(type="text/javascript", src="/scripts/fileupload.js")
