extends layout

// BODY
block content
    - fileName = encodeURIComponent(title +',')
    - urlToWiki  = joinPath('/wikis', encodeURIComponent(wikiName))
    - urlToPages = joinPath('/wikis', encodeURIComponent(wikiName), 'pages')
    - urlToPage  = joinPath('/wikis', wikiName, 'pages', title)

    article.article
    if page.isOld
      div.alert.alert-info!= __("This is an old revision of this page, as edited by %s at %s. It may differ significantly from the <a href='%s'>current revision</a>.", page.commit.author.name, new Date(page.commit.author.unixtime * 1000), urlToPage)

    if lastVisit
      urlToDiffSinceLastVisit = urlToPage + '?action=diff&diffA=' + fileName + lastVisit.id + '&diffB=' + fileName + page.commitId
      div.alert.alert-info!= __("Something changed since your last visit, %s. <a href='%s'>Click here</a> to see the difference.", lastVisit.date, urlToDiffSinceLastVisit)

    hgroup.page-header
      h1= title
      menu.btn-group
        a(href='#{urlToPage}?action=edit').btn.btn-primary= __('Edit')
        a(href='#{urlToPage}?action=history').btn= __('History')
        a(data-toggle="modal", href='#deletePageConfirm').btn= __('Delete')

    if user
      form(method="post", action='#{urlToWiki}/subscribes/#{title}').inline
        div(style='float: right')
          if subscribed
            input(type="hidden", name="_method", id="_method", value="delete")
            input(type="submit", value=__('Unsubscribe'), name="submit").btn.btn-danger
          else
            input(type="hidden", name="_method", id="_method", value="put")
            input(type="submit", value=__('Subscribe'), name="submit").btn.btn-success

    // Text
    article.tx
      != content

  div#deletePageConfirm.modal.hide
    div.modal-header
      h3= __('Are you sure to delete?')
    div.modal-footer
      form(method="post", action=urlToPage).inline
        input(type="hidden", name="_method", id='_method', value="delete")
        input(type="submit", value=__('Yes'), name="submit").btn.btn-danger
      a.btn(href="#", data-dismiss="modal")= __('No')

  script(type="text/javascript", src="/scripts/jquery.js")
  script(type="text/javascript", src="/scripts/keynavi.js")
  script(type="text/javascript").
    activateEditKey();
    activateNewKey('#{urlToWiki}/new');
