extends layout

block content
    if changesUrl
      div.alert.alert-info
        span Something changed since your last visit, #{lastVisitDate}.#{' '}
        a(href=changesUrl) Click here
        span #{' '}to see the difference.

    div.page-header
      h1= title

    div.row
      div.span12
        != content

    a(href="?action=edit").btn Edit
    br
    br
    div.btn-group
      form(method="post", action="/wikis/note/delete/"+title)
          a(href='/wikis/note/new').btn New
          a(href="?action=history").btn History
          input(type="submit", value="delete", name="submit").btn
