extends layout

block content
    if isOld
      div.alert.alert-info
        span This is an old revision of this page, as edited by#{' '}
        span= commit.author.name
        span #{' '}at#{' '}
        - var date = new Date(commit.author.unixtime * 1000)
        span= date
        span . It may differ significantly from the#{' '}
        a(href=urls.view) current revision.

    if urls.diffSinceLastVisit
      div.alert.alert-info
        span Something changed since your last visit, #{lastVisitDate}.#{' '}
        a(href=urls.diffSinceLastVisit) Click here
        span #{' '}to see the difference.

    div.page-header
      h1= title

    div.row.pull-right
      div.span3
        a(href=urls.edit).btn.btn-primary Edit
        a(href=urls.new).btn New
        a(href=urls.history).btn History
      div.span1
        form(method="post", action=urls.delete)
          input(type="hidden", name="_method", id='_method', value="delete")
          input(type="submit", value="delete", name="submit").btn
      div.span1
        if loggedIn
          form(method="post", action=urls.subscribe)
            if subscribed
              input(type="hidden", name="_method", id="_method", value="delete")
              input(type="submit", value="unsubscribe", name="submit").btn
            else
              input(type="hidden", name="_method", id="_method", value="put")
              input(type="submit", value="subscribe", name="submit").btn

    div.row
      div.span12
        != content

    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js")
    script(type="text/javascript", src="/scripts/keynavi.js")
    script(type="text/javascript")
      activateEditKey();
      activateNewKey('/wikis/note/new');
