extends layout

// BODY
block content
  - fileName    =joinPath('/wikis', encodeURIComponent(wikiName))
  - urlToWiki   =joinPath('/wikis', encodeURIComponent(wikiName), 'pages')
  - urlToPages  =joinPath('/wikis', encodeURIComponent(wikiName), 'pages', encodeURIComponent(selectedPageName))
  - urlToPage   =joinPath('/wikis', wikiName, 'pages', selectedPageName)

  div.row.task
    nav.lnb.span3
      div.tob
        h1
          i.icon-user
          if user
            = user.name
          else
            = __('Anonymous')
        ul
          each page in pages
            li
              a(href="/wikis/#{encodeURIComponent(wikiName)}/pages?selectedPageName=#{encodeURIComponent(page.name)}")
                - date = sprintf("%d.%02d.%02d", page.date.getFullYear(), page.date.getMonth(), page.date.getDate());
                if selectedPageName == page.name
                    strong= page.name
                      time= date
                else
                    = page.name
                      time= date
      button(type='button',style='top: -49px').tog
        span  메뉴 열기/닫기
    article.article.span9
      if typeof deletedPageName != 'undefined'
        div.alert.alert-success= __("'%s' page has been deleted.", deletedPageName)

      hgroup.page-header
        h1= selectedPageName
        form(method="post", action=urlToPage).inline
          menu.btn-group
            a(href='#{urlToPage}?action=edit').btn.btn-primary= __('Edit')
            a(href='#{urlToPage}?action=history').btn= __('History')
            input(type="hidden", name="_method", id='_method', value="delete")
            input(type="submit", value=__('Delete'), name="submit").btn
      if user
        form(method="post", action='#{urlToWiki}/subscribes/#{encodeURIComponent(selectedPageName)}').inline
          div(style='float: right')
            if subscribed
              input(type="hidden", name="_method", id="_method", value="delete")
              input(type="submit", value=__('Unsubscribe'), name="submit").btn.btn-danger
            else
              input(type="hidden", name="_method", id="_method", value="put")
              input(type="submit", value=__('Subscribe'), name="submit").btn.btn-success

      // Text
      article.tx
        != selectedPageContent

  script(type="text/javascript", src="/scripts/jquery.js")
  script(type="text/javascript", src="/scripts/keynavi.js")
  script(type="text/javascript")
    activateEditKey()
    activateNewKey('#{urlToWiki}/new')
