extends layout

block content
    if messages.oldRevisionNotice
      div.alert.alert-info!= messages.oldRevisionNotice

    if messages.changesNotice
      div.alert.alert-info!= messages.changesNotice

    div.page-header
      h1= title

    div.row.pull-right
      div.span3
        a(href=urls.edit).btn.btn-primary= messages.edit
        a(href=urls.new).btn= messages.new
        a(href=urls.history).btn= messages.history
      div.span1
        form(method="post", action=urls.delete)
          input(type="hidden", name="_method", id='_method', value="delete")
          input(type="submit", value=messages.delete, name="submit").btn
      div.span1
        if loggedIn
          form(method="post", action=urls.subscribe)
            if subscribed
              input(type="hidden", name="_method", id="_method", value="delete")
              input(type="submit", value=messages.unsubscribe, name="submit").btn
            else
              input(type="hidden", name="_method", id="_method", value="put")
              input(type="submit", value=messages.subscribe, name="submit").btn

    div.row
      div.span12
        != content

    script(type="text/javascript", src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js")
    script(type="text/javascript", src="/scripts/keynavi.js")
    script(type="text/javascript")
      activateEditKey();
      activateNewKey('/wikis/note/new');
